<div class="row"> <div class="col-xs-12"> <div style="text-align: center; padding: 300px 150px"> <h3>--- work in progress ---</h3> </div> </div> </div> <!-- <div class="row" style="text-align:center; margin:0px; padding-top:10px">
    <div class="col-sm-12">
        <h3>
            <a href="#/" style="font-weight: 200; font-size:32px; color: #ddd; ">
                <span>
                    nr | dataviz
                </span>
            </a>
        </h3>
    </div>
</div>

<div class="row" style="margin:0px; padding: 35px 25px">
    <div class="col-sm-12" style="padding:0px; margin-bottom: 30px; text-align: center; color:#333; font-size:32px">
		TRADESPACE EXPLORATION
	</div>
	<div class="col-sm-12" style="padding: 0px 150px; margin-bottom: 50px; text-align: center; color:#aaa; font-size:24px; font-weight:200">
		Use this to explore the trades that exist across the dimensions of interest.
	</div>

    <div class="col-xs-2" id="axis-picker-scatter">
        <div class="row">
            <div class="col-xs-12">
                <ng-csv-import 
                    class="import"
                    content="csv.content"
                    header="csv.header" 
                    header-visible="csv.headerVisible" 
                    separator="csv.separator"
                    separator-visible="csv.separatorVisible"
                    result="csv.result"
                    encoding="csv.encoding"
                    encoding-visible="csv.encodingVisible"
                    upload-button-label="csv.uploadButtonLabel">
                </ng-csv-import>
            </div>
        </div> 
        <div class="row" style="margin-bottom: 15px">
            <div class="col-xs-3" style="text-align: right">
                <h5>Y</h5>
            </div>
            <div class="col-xs-9" style="border-left: 2px solid #eee">
                <ul id="y-axis-menu"></ul>
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px">
            <div class="col-xs-3" style="text-align: right">
                <h5>X</h5>
            </div>
            <div class="col-xs-9" style="border-left: 2px solid #eee">
                <ul id="x-axis-menu"></ul>
            </div>
        </div>
    </div>

    <div class="col-xs-10 scatter-plot">
        <div id="scatter-plot">
            <tradespace-scatter
                w = 940
                h = 720
                class = 'scatter'
                data = 'tradespaceData'
                plot = 'plotKey'
                color-by = 'colorBy'
                selected-circle = 'selectedItem'
                axis-metrics-x = 'xAxisMetrics'
                current-x-metric = 'selectedXMetric'
                axis-metrics-y = 'yAxisMetrics'
                current-y-metric = 'selectedYMetric'
            ></tradespace-scatter>
        </div>
    </div>

</div>
 -->